<div class="grid-container">
    <div class="information-container">
        <h1>ABOUT US</h1>
        <ul>
            <li>Our Story</li>
            <li>Location</li>
            <li>Our Owner</li>
            <li>Our Store Reviews</li>
        </ul>
    </div>

    <div class="information-container">
        <h1>CUSTOMER SUPPORT </h1>
        <ul>
            <li>Returns & Exchanges</li>
            <li>Shipping Information</li>
            <li>Track Your Order</li>
            <li>Promo Code Lookup</li>
        </ul>
    </div>

    <div class="contact-container">
        <h1>CONNECT WITH US</h1>
        <div class ="icons">
            <img src="https://cdn.brandfetch.io/facebook.com/w/512/h/512/logo?c=1idOXYR5t9hQj2LIrSM">
            <img src="https://cdn.brandfetch.io/instagram.com/w/512/h/512/theme/light/symbol?c=1idOXYR5t9hQj2LIrSM" alt="WhatsApp">
            <img src="https://cdn.brandfetch.io/whatsapp.com/w/509/h/512/symbol?c=1idOXYR5t9hQj2LIrSM" alt="">
        </div>
        <p>Enjoy your shopping experience — click below to go to our Sales Page!</p>
        <button class = "btn-sales">SALES!!!</button>
    </div>
</div>
